<form [formGroup]="form" (ngSubmit)="onSubmit()" id="login-form" action="https://phpoll.com/login/process" style="display: block;">
  <div class="alert"></div>
  <div class="form-group"
       [ngClass]="{'has-error': form.get('phone').invalid && form.get('phone').touched}">
    <input type="text"
           name="phone"
           id="phone"
           class="form-control"
           formControlName="phone"
           placeholder="Phone">
    <span class="alert-danger-custom" *ngIf="form.get('phone').invalid && form.get('phone').touched">
      <span *ngIf="form.get('phone')['errors']['required']">Can’t be empty</span>
      <span *ngIf="form.get('phone')['errors']['phone']">Please input correct number</span>
    </span>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
    <input type="password"
           name="password"
           class="form-control"
           formControlName="password"
           placeholder="Password">
    <span class="alert-danger-custom" *ngIf="form.get('password').invalid && form.get('password').touched">
      <span *ngIf="form.get('password')['errors']['required']">Can’t be empty</span>
      <span *ngIf="form.get('password')['errors']['minlength']">
        Password must have more than {{form.get('password')['errors']['minlength']['requiredLength']}} chars.
        Now you have {{form.get('password')['errors']['minlength']['actualLength']}} chars.
      </span>
    </span>
  </div>
  <div class="form-group text-center">
    <input type="checkbox"
           class=""
           formControlName="remember"
           name="remember"
           id="remember">
    <label for="remember"> Remember Me</label>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 col-sm-offset-3">
        <button type="submit" id="login-submit" class="form-control btn btn-login">Log In</button>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <a href="https://phpoll.com/recover" target="_blank" class="forgot-password">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
</form>
