/*_____Start_____Vertical menu navbar*/
.vertical-menu {
  width: 300px;
  height: 750px;
  background-color: #eee;
  padding-top: 10px;
  box-shadow: 0px 0px 20px black;

}
/*_____End_____Vertical menu navbar*/

/*______________Start minicart*/
.cartMini {
  border-radius: 50px;
  background: #73AD21;
  padding: 10px;
  width: 70px;
  height: 40px;
  margin-left: 100px;
}
/*______________End minicart*/


/*__________Start____Logo and mini cart*/
.line-place p{
  display:inline-block;
}
/*__________End____Logo and mini cart*/


.row{
  background-color: #ccc;
}

.element-naw{
  margin-bottom: 5px;
}

.a:hover {
  background-color: #ccc;
  width: 300px;
}

/*li:hover{*/
/*background-color: #ccc;*/
/*width: 300px;*/
/*}*/

.a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 15pt;

}

.line-place{
  margin-left: 30px;
}

.cartMini {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}



.tooltiptext1{
  visibility: hidden;
  background-color: red;
  /*color: #fff;*/
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.cartMini:hover .tooltiptext1 {
  visibility: visible;
  top:35px;
  left:-170px;
}

.info-mini-cart-price-amount {
  font-size: 10pt;
}

.btn-buy {
  width: 150px;
  height: 40px;
  background-color: #a92222;
  margin-left: 30px;
}

